@media only screen and (max-width: 435px) {
  .box {
    margin: 0%;
  }
  .logo {
    width: 70%;
    padding-top: 5%;
    padding-left: 30%;
  }
  .header-text {
    padding: 0em 0em 1em 0em;
    text-align: center;
  }
  .text {
    font-size: 15px;
    padding-left: 5%;
    line-height: 200%;
    font-weight: 700;
  }
  .text1 {
    font-size: 15px;
    font-style: italic;
}
  #form[type="text"] {
      font-size: 15px;
      font-family: 'Lato', sans-serif;
      color: grey;
  }
  #form1[type="text"] {
      font-size: 15px;
      width: 100%;
      font-family: 'Lato', sans-serif;
      margin: 0 0 6% 0;
  }
  #form2[type="email"] {
      font-size: 15px;
      width: 100%;
      font-family: 'Lato', sans-serif;
      margin: 0 0 2% 0;
  }
}