@media only screen and (min-width: 435px) and (max-width: 1024px) {
#header {
  background-color: #ffb366;
  font-family: 'Cinzel', serif;
}
.header-text, .header-subtext {
    float: right;
    margin-right: 1%;
    padding: 1em 0em 1em 0em;
  }
  .text {
    padding: 1em 1em 1em 3em;
    font-size: 18px;
    line-height: 200%;
  }
  .text1 {
    font-size: 15px;
    font-style: italic;
  }

  #form1[type="text"] {
        font-size: 15px;
        width: 49.5%;
        float: left;
        font-family: 'Lato', sans-serif;
        margin: 2% 0 4% 0;
  }
  #form2[type="email"] {
        font-size: 15px;
        width: 49.5%;
        float: right;
        font-family: 'Lato', sans-serif;
        margin: 2% 0 4% 0;
  }


}